{% extends 'base.html.twig' %}

{% block header %}

{% endblock %}

{% block title %}Page de connexion{% endblock %}

{% block body %}
    <div class="border p-5 mt-5 shadow rounded d-flex flex-column text-center">
        <h1 class="h3 mb-3 font-weight-normal ">Se connecter</h1>
       {% include "security/_form.html.twig" %}
    </div>
{% endblock %}
