<strong>Bonjour {{ name }} ! </strong>
    <p>
        Afin de valider votre compte veuillez cliquer si ce lien,
        vous serez ensuite redirigé vers la page de connexion de NetLink
        <a class="btn, btn-success">Confirmer mon email</a>
    </p>
