{% extends "base.html.twig" %}

{% block body %}
    <div class="d-flex flex-column justify-centent-center">
        {{ user.fullname }} <br>
        {% if user.id != app.user.id and friendly != true %}
            <a class="btn btn-success" href="{{ path('user_connect', {'id': user.id}) }}">Se connecter a cet utilisateur</a>
        {% endif %}
        {% if user.id != app.user.id and friendly == true %}
            <a class="btn btn-success" href="{{ path('delete_friendship', {'friend': user.id}) }}">Supprimer cet ami</a>
        {% endif %}

    </div>



{% endblock %}
